@charset "UTF-8";
body {
  font-family: "Inter", sans-serif;
}

._session_space {
  margin-bottom: 120px !important;
}

a:not(.btn), b {
  color: #41A4DF;
}

section {
  max-width: 100vw;
  overflow: hidden;
}

._breakpoint {
  max-width: 1240px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin: 0 auto;
}

.text_light {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.text_desc {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.text_h1 {
  font-size: 80px;
  font-style: normal;
  font-weight: 629;
  line-height: 110%; /* 88px */
  letter-spacing: -2.4px;
}
.text_h2 {
  font-size: 56px;
  font-style: normal;
  font-weight: 629;
  line-height: 110%; /* 61.6px */
  letter-spacing: -1.68px;
}
.text_h3 {
  font-size: 42px;
  font-style: normal;
  font-weight: 629;
  line-height: 110%; /* 46.2px */
  letter-spacing: -1.26px;
}

.btn {
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 18px 42px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  line-height: 100%;
  border-radius: 900px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  transition: 0.2s;
}
.btn_secondary {
  color: #297EE2;
  background: rgba(41, 126, 226, 0.12);
}
.btn_secondary:hover {
  background: rgba(65, 164, 223, 0.16);
}
.btn_general {
  color: #fff;
  background: #41A4DF;
}
.btn_general:hover {
  background: #297EE2;
}
.btn_transparent {
  color: #fff;
  border: 1px solid var(--White-60, rgba(255, 255, 255, 0.6));
}
.btn_transparent:hover {
  border-color: #FFF;
}
.btn_createApp {
  display: inline-flex;
  padding: 18px 39px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 17px;
  background: linear-gradient(240deg, rgba(41, 126, 226, 0.12) 3.57%, rgba(24, 97, 182, 0.12) 86.24%);
  color: #0D0D12;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 26.4px */
}

.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 20%;
}
.header .logo_wrap {
  display: block;
}
.header .logo_wrap img {
  max-width: 64px;
  max-height: 64px;
  width: 100%;
  height: 100%;
}
.header .nav {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.header .nav_element {
  color: #0D0D12;
}
.header .action {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}
.hero .info {
  width: 58.3333333333%;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.hero .info .texts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.hero .info .bots {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero .info .bots .list {
  display: block;
}
.hero .info .bots .list .bot {
  display: inline-block;
  max-width: 96px;
  max-height: 96px;
  width: 100%;
  height: 100%;
}
.hero .info .bots .list .bot:not(:first-child) {
  margin-left: -32px;
}
.hero .image {
  width: 41.6666666667%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .image img {
  max-width: 333.42px;
  width: 100%;
}

.cases {
  background-color: #232328;
  display: flex;
}
.cases .slider {
  width: 100%;
  display: flex;
}
.cases .slider .custom-pagination {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 12px;
  flex-shrink: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.cases .slider .custom-pagination_wrap {
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-shrink: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.cases .slider .custom-pagination .pagination-index {
  color: #fff;
}
.cases .slider .custom-pagination-body {
  display: flex;
  height: 408px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}
.cases .slider .custom-pagination .pagination-item {
  width: 4px;
  border-radius: 90px;
  background-color: rgba(255, 255, 255, 0.24);
  transition: 0.5s;
  height: 100%;
  cursor: pointer;
}
.cases .slider .custom-pagination .pagination-item.active {
  background-color: #41A4DF;
  cursor: default;
}
.cases .slider .slide {
  padding: 196px 0;
}
.cases .slider .slide_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 122px;
}
.cases .slider .slide .image {
  width: 41.6666666667%;
}
.cases .slider .slide .image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}
.cases .slider .slide .content {
  width: 41.6666666667%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.cases .slider .slide .content h2 {
  color: #fff;
}
.cases .slider .slide .content p {
  color: #fff;
}

.features {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.features .text_desc {
  color: rgba(17, 17, 17, 0.8);
}
.features .rounded_block {
  box-sizing: border-box;
  display: flex;
  padding: 42px 56px;
  flex-direction: column;
  border-radius: 40px;
  background: var(--Bg-light, #F7F9FB);
}
.features .rounded_block .info_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features .blocks_group {
  display: flex;
  gap: 20px;
  justify-content: stretch;
}
.features .blocks_group .commission {
  gap: 16px;
}
.features .blocks_group .commission .createApp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 37px;
  margin-bottom: 53px;
}
.features .blocks_group .commission .createApp .btn {
  transition: 0.5s ease-in-out;
}
.features .blocks_group .commission .createApp .btn.animate {
  scale: 1.1;
}
.features .blocks_group .commission .createApp .btn.animate-focus {
  background: linear-gradient(240deg, rgba(41, 126, 226, 0.18) 3.57%, rgba(24, 97, 182, 0.18) 86.24%);
}
.features .blocks_group .commission .createApp_wrap {
  position: relative;
}
.features .blocks_group .commission .createApp .cursor_createApp {
  position: absolute;
  transition: 0.5s ease-in-out;
  right: -45px;
  bottom: -45px;
}
.features .blocks_group .commission .createApp .cursor_createApp.animate {
  right: -20px;
  bottom: -30px;
}
.features .blocks_group .column {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.features .blocks_group .column:first-child {
  width: 41.6666666667%;
}
.features .blocks_group .column:last-child {
  width: 58.3333333333%;
}
.features .currencies {
  width: 100%;
  gap: 42px;
}
.features .currencies .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.features .currencies .list .currency {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.features .currencies .list .currency img {
  width: 96px;
  height: 96px;
}
.features .currencies .list .currency .desc {
  color: rgba(17, 17, 17, 0.4);
}
.features .currencies .list .currency img, .features .currencies .list .currency .desc {
  transition: 0.3s;
}
.features .currencies .list .currency.active img {
  transform: scale(1.1);
}
.features .currencies .list .currency.active .desc {
  color: rgba(17, 17, 17, 0.8);
}
.features .exchange {
  gap: 21px;
}
.features .exchange img {
  max-width: 276px;
  width: 100%;
  margin: 0 auto;
}
.features .exchange .animation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  width: 276px;
}
.features .exchange .animation .currencies_list {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: -12px;
}
.features .exchange .animation .currencies_list .currency {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s transform ease-in-out;
}
.features .exchange .animation .currencies_list .currency[data-state=last] {
  transform: translateX(-31px);
  z-index: 4;
}
.features .exchange .animation .currencies_list .currency[data-state=next] {
  transform: translateX(0px);
  z-index: 5;
}
.features .exchange .animation .currencies_list .currency[data-state=active] {
  transform: translateX(31px);
  z-index: 6;
}
.features .exchange .animation .currencies_list .currency svg path {
  transition: 0.5s ease-in-out;
  opacity: 0;
}
.features .exchange .animation .currencies_list .currency svg g {
  border-radius: 900px;
  outline: 4px solid #F1F5F9;
}
.features .exchange .animation .currencies_list .currency[data-state=active] svg path {
  opacity: 1;
}
.features .exchange .animation .exchange_image {
  min-width: fit-content;
  z-index: 9;
  display: flex;
}
.features .exchange .animation .exchange_image svg {
  border-radius: 19px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
}
.features .exchange .animation .exchange_currency {
  margin-left: -23px;
}
.features .stat {
  gap: 24px;
  width: 100%;
}
.features .stat .telegram_frame {
  padding: 47px 74px;
  background-image: url("../images/payment_statistic_bg.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.features .stat .telegram_frame_wrap {
  position: relative;
}
.features .verification {
  gap: 20px;
  padding: 0 42px 42px 42px;
  flex: 7;
  overflow: hidden;
}
.features .verification .phone {
  margin-top: -609.566px;
  border-radius: 71.977px;
  border: 0.837px solid #1B1C16;
  background: #D9E4EB;
  box-shadow: 0px 0px 0.41847px 2.09235px #77796B inset;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.features .verification .phone_wrap {
  width: 459.479px;
  height: 967.566px;
  flex-shrink: 0;
  border-radius: 69.289px;
  border: 5.44px solid #989892;
  background-blend-mode: soft-light, normal;
  box-shadow: 0px 0px 0.41847px 10.85857px black inset;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.features .verification .phone_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 50px 40px 50px;
}
.features .verification .phone_buttons .phone_button {
  width: fit-content;
  background: #C2C8CE;
  padding: 10px;
  border-radius: 100%;
}
.features .verification .phone_buttons .phone_button img {
  width: 40px;
}
.features .verification .phone_footer {
  width: 40%;
  height: 5px;
  border-radius: 20px;
  background: #183347;
  margin: 0 auto;
}
.features .verification .phone_alerts {
  margin: 0 15px 30px 15px;
  position: relative;
}
.features .verification .phone_alert {
  top: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 9px;
  padding: 15px;
  border-radius: 24px;
  background: linear-gradient(98deg, #E8F2F9 15.04%, #E8F2F9 52.22%, #E9F1FA 90.93%);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  position: relative;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.features .verification .phone_alert_image {
  flex: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features .verification .phone_alert_text {
  flex: 80%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.features .verification .phone_alert_text_title {
  color: #1B1C22;
  font-size: 17.24px;
  font-family: "SF Pro", serif;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 18.964px */
  letter-spacing: -0.517px;
}
.features .verification .phone_alert_text_description {
  color: #1B1C22;
  font-family: "SF Pro", serif;
  font-size: 17.24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 18.964px */
  letter-spacing: -0.517px;
}
.features .verification .phone_alert_time {
  flex: 5%;
  margin-top: 0px;
  color: #7B8992;
  font-family: "SF Pro", sans-serif;
  font-size: 13.24px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 14.564px */
  letter-spacing: -0.397px;
}
.features .verification .phone_alert[data-state=last], .features .verification .phone_alert[data-state=next] {
  position: absolute;
  left: auto;
  opacity: 0;
  right: auto;
  transform: scale(0.95);
  z-index: 5;
  top: -10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.features .verification .phone_alert[data-state=next] {
  opacity: 0.5;
}
.features .anonymous {
  gap: 20px;
  padding: 42px;
  flex: 5;
}
.features .anonymous .telegram_frame {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 48px 26px;
  border-radius: 24px;
  background: linear-gradient(233deg, #9FCCFA -20.48%, #0974F1 97.38%);
}
.features .anonymous .telegram_frame .tail {
  width: 21.368px;
  height: 14.958px;
  position: absolute;
  bottom: 0;
  left: -7px;
}
.features .anonymous .telegram_frame .message_box {
  position: relative;
}
.features .anonymous .telegram_frame .message {
  padding: 10px 15px;
  border-radius: 16.026px;
  position: relative;
  height: fit-content;
  z-index: 10;
  transition: 0.5s;
  top: 0;
}
.features .anonymous .telegram_frame .message_text {
  color: #000;
  font-family: "SF Pro", serif;
  font-size: 18.163px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.368px; /* 117.647% */
  letter-spacing: -0.534px;
}
.features .anonymous .telegram_frame .message[data-state=last], .features .anonymous .telegram_frame .message[data-state=next] {
  position: absolute;
  left: auto;
  opacity: 0.5;
  right: auto;
  transform: scale(0.95);
  z-index: 5;
  top: -10px;
}
.features .anonymous .telegram_frame .message[data-state=next] {
  opacity: 0;
  top: 20px;
}

.quick_start {
  background-color: #F7F9FB;
}
.quick_start .text_h2 {
  text-align: center;
}
.quick_start_wrap {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
  gap: 40px;
}
.quick_start .steps {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.quick_start .steps .step {
  display: flex;
  justify-content: center;
  gap: 19px;
}
.quick_start .steps .step:nth-child(2n) {
  flex-direction: row-reverse;
}
.quick_start .steps .step:nth-child(2n) .column:first-child {
  align-items: flex-end;
}
.quick_start .steps .step .column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quick_start .steps .step .column ul.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.quick_start .steps .step .column ul.info.--decimal, .quick_start .steps .step .column ul.info.--decimal li {
  list-style: inside decimal;
}
.quick_start .steps .step .column ul.info.--disc li::before {
  content: "•";
  color: #41A4DF;
}
.quick_start .steps .step .column_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.quick_start .steps .step .count {
  width: 64px;
  height: 64px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 900px;
  background: linear-gradient(220deg, #010417 10.26%, #2B333F 84.25%), linear-gradient(46deg, #000 15.89%, #434343 171.16%);
  box-shadow: 0px 0px 8px 0px rgba(182, 186, 191, 0.04), 0px 2px 3px 0px rgba(0, 0, 0, 0.02);
}

.api {
  display: flex;
  justify-content: center;
  align-items: center;
}
.api_block {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px !important;
  gap: 32px;
  min-height: 550px;
  border-radius: 40px;
  background: url("../images/api_block.png"), linear-gradient(233deg, #9FCCFA -20.48%, #0974F1 97.38%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.community {
  margin-top: 144px;
  padding-bottom: 40px;
  position: relative;
}
.community_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}
.community .info_block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.community .list {
  width: 83.3333333333%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.community .list .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  white-space: nowrap;
}
.community .list .item img {
  height: 96px;
  width: 96px;
  object-fit: cover;
  object-position: center;
}

.footer {
  background-color: #232328;
  padding: 120px 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #fff;
}
.footer .spacer {
  top: 0;
  position: absolute;
  width: 100%;
  height: 40px;
  background: #fff;
  border-radius: 0 0 40px 40px;
}
.footer_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.footer .inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .logo {
  width: 20%;
}
.footer .logo_wrap {
  display: flex;
  flex-direction: column;
}
.footer .logo_wrap img {
  max-width: 64px;
  max-height: 64px;
  width: 100%;
  height: 100%;
}
.footer .nav {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.footer .nav_element {
  color: #fff;
}
.footer .action {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.telegram_frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 24px;
  font-family: "SF Pro", serif;
  position: relative;
}
.telegram_frame .message_box {
  width: 431px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.47px;
  transition: 0.5s ease-in-out;
}
.telegram_frame .message_box[data-state=hidden] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.telegram_frame .message_box .message {
  width: 100%;
  background-color: #fff;
  border-radius: 16.778px 16.778px 7.83px 7.83px;
  padding: 10px 15.659px;
  color: #000;
  font-size: 19.015px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.37px; /* 117.647% */
  letter-spacing: -0.559px;
  position: relative;
}
.telegram_frame .message_box .message_text b {
  color: black;
  font-weight: 600;
}
.telegram_frame .message_box .message_time {
  position: absolute;
  right: 15.66px;
  bottom: 10px;
  color: var(--Dark-40, rgba(17, 17, 17, 0.4));
  text-align: right;
  font-size: 14.541px;
  font-style: normal;
  font-weight: 510;
  line-height: 20.133px; /* 138.462% */
  letter-spacing: -0.559px;
}
.telegram_frame .message_box .inline_keyboard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4.47px;
}
.telegram_frame .message_box .inline_keyboard .buttons_group {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 4.695px;
}
.telegram_frame .message_box .inline_keyboard .buttons_group .button {
  cursor: default;
  color: #FFF;
  padding: 15.024px 0;
  font-size: 19.015px;
  font-style: normal;
  font-weight: 510;
  line-height: 17.896px; /* 94.118% */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7.831px;
  background: rgba(54, 136, 194, 0.82);
}
.telegram_frame .message_box .inline_keyboard .buttons_group .button.active {
  background: rgba(32, 114, 172, 0.82);
}
.telegram_frame .message_box .inline_keyboard .buttons_group .button.active:before, .telegram_frame .message_box .inline_keyboard .buttons_group .button.active:after {
  content: "·";
  margin: 0 5px;
}

@media screen and (max-width: 1179px) {
  .features .anonymous, .features .verification {
    flex: 48%;
  }
  .features .blocks_group {
    flex-wrap: wrap;
  }
  .features .blocks_group .column {
    width: 100% !important;
  }
  .features .blocks_group .column .rounded_block {
    width: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
